<div *ngIf="step"
     class="step-page">

    <div class="step__header">
        <h1 class="h1">
            {{ 'Шаг ' + step._id }}
        </h1>
    </div>

    <ul class="step__actions">

        <li class="step__action">
            <button class="step__action_live-view">
                <a [routerLink]="[ '/rubrics/' + rubric._id + '/' + quest._id + '/' + step._id + '/step-live-view' ]"
                   title="Предпросмотр шага"
                   (click)="openStepModal()">
                    <i class="fa fa-eye"></i>
                </a>
            </button>
        </li>

        <li class="step__action">
            <button class="step__action_edit">
                <a [routerLink]="[ '/rubrics/' + rubric._id + '/' + quest._id + '/' + step._id + '/step-edit' ]" title="Редактировать шаг">
                    <i class="fa fa-pencil"></i>
                </a>
            </button>
        </li>

    </ul>

    <div class="step__metadata_view">

        <div class="metadata__location">
            <h5 class="metadata_field">
                Локация:
            </h5>
            <h5 class="metadata_field metadata_value">
                {{ getText( 'locations', stepMetadata.location ) }}
            </h5>
        </div>

        <div class="metadata__type">
            <h5 class="metadata_field">
                Тип шага:
            </h5>
            <h5 class="metadata_field metadata_value">
                {{ getText( 'types', stepMetadata.type ) }}
            </h5>
        </div>

    </div>

    <div class="step_modal">

        <router-outlet></router-outlet>

    </div>

</div>
