<nav class="menu">

        <div class="menu__logo">
            <a class="logo" href="/">Редактор Симулятора поликлиники</a>
        </div>

        <ul class="menu__items">
            <li class="menu__item"
                [class.item__active] = "router.url.indexOf( '/game-editor' ) !== -1">
                <a [routerLink]="['/game-editor']">Менеджер артефактов</a>
            </li>
        </ul>

</nav>

<router-outlet></router-outlet>

<simple-notifications [options]="notificationOptions"></simple-notifications>
