@import '../../../styles/common/variables.less';

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: calc(~"100% - @{menuHeight}");
    min-height: initial;
    margin: 0;
    margin-top: @menuHeight;
    font-family: 'Arial', sans-serif;
}

app {
    display: block;
    height: 100%;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
}

.menu__items {
    list-style-type: none;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: block;
    float: left;
    height: 100%;
    margin-right: @padding;

    a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        line-height: @menuHeight - 2;
        padding: 0 @padding * 2;
        position: relative;

        &:hover {
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                opacity: 0.3;
            }
        }
    }
}

.item_active {

}

.menu__item_right {
    float: right;
}

.menu__item_align {
    .mat-button-wrapper {
        height: 42px;
        display: block;
    }
    .mat-icon-button {
        color: #fff;
        height: @menuHeight;
    }
}
