<md-toolbar color="primary">

    <ul class="menu__items">
        <li class="menu__item">
            <a [routerLink]="['/']">Редактор Симулятора поликлиники</a>
        </li>
        <li class="menu__item"
            [class.item_active] = "router.url.indexOf( '/rubrics' ) !== -1">
            <a [routerLink]="['/rubrics']">Рубрики</a>
        </li>
        <li class="menu__item menu__item_right menu__item_align">
            <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
        </li>
    </ul>



    <md-menu #toolbarMenu1="mdMenu">
        <button md-menu-item>
            <md-icon>settings</md-icon>
            <span>Настройки</span>
        </button>
        <button md-menu-item>
            <md-icon>exit_to_app</md-icon>
            <span>Выйти</span>
        </button>
    </md-menu>

</md-toolbar>

<router-outlet></router-outlet>

<simple-notifications [options]="notificationOptions"></simple-notifications>
