<div *ngIf="quest"
     class="quest-page">

    <div class="quest__header">
        <h1 class="h1">
            {{ quest.name }}
        </h1>
    </div>

    <ul class="quest__actions">

        <li class="quest__action">
            <button class="quest__action_edit">
                <a [routerLink]="[ '/rubrics/' + rubric._id + '/' + quest._id + '/quest-edit' ]" title="Редактировать квест">
                    <i class="fa fa-pencil"></i>
                </a>
            </button>
        </li>

        <li class="quest__action">
            <button class="quest__action_add-step">
                <a [routerLink]="[ '/rubrics/' + rubric._id + '/' + quest._id + '/step-create' ]" title="Создать шаг">
                    <i class="fa fa-plus"></i>
                </a>
            </button>
        </li>

        <li class="quest__action">
            <button class="quest__action_change-order">
                <a [routerLink]="[ '/rubrics/' + rubric._id + '/' + quest._id + '/steps-order' ]" title="Изменить порядок шагов">
                    <i class="fa fa-refresh"></i>
                </a>
            </button>
        </li>

    </ul>

    <ul class="quest__step-list">

        <li *ngFor="let step of steps"
            class="quest__step">

            <a [routerLink]="[ '/rubrics/' + rubric._id + '/' + quest._id + '/' + step._id ]" class="step__link">
                <div class="step__title">
                    <h3 class="h3">
                        {{ 'Шаг ' + step._id }}
                    </h3>
                </div>
            </a>

        </li>

    </ul>

</div>
