<div class="game-editor-page">

    <div class="game__header">
        <h1 class="h1">
            {{ header }}
        </h1>
    </div>

    <ul class="game__actions">
        <li class="game__action">
            <button class="game__action_add-rubric">
                <a [routerLink]="[ '/game-editor/rubric-create' ]" title="Создать рубрику">
                    <i class="fa fa-plus"></i>
                </a>
            </button>
        </li>
        <li class="game__action">
            <button class="game__action_rubrics-change-order">
                <a [routerLink]="[ '/game-editor/rubrics-order' ]" title="Изменить порядок рубрик">
                    <i class="fa fa-refresh"></i>
                </a>
            </button>
        </li>
    </ul>

    <ul class="game__rubrics-list">

        <li *ngFor="let rubric of rubrics"
             (click)="rubricClick( rubric )"
             class="game__rubric">

            <a [routerLink]="[ '/game-editor/' + rubric._id ]" class="rubric__link">
                <div class="rubric__title">
                    <h3 class="h3">
                        {{ rubric.rubricaName }}
                    </h3>
                </div>
            </a>

        </li>

    </ul>

</div>
