<div class="rubrica-page">

    <div class="rubrica__header">
        <h1 class="h1">
            {{ rubricaName }}
        </h1>
    </div>

    <ul class="rubrica__actions">
        <li class="rubrica__action">
            <button class="rubrica__action_add-quest">
                <a href="/game-editor/' + rubrica._id + '/quest-create" title="Создать квест">
                    <i class="fa fa-plus"></i>
                </a>
            </button>
        </li>
        <li class="rubrica__action">
            <button class="rubrica__action_change-order">
                <a href="/game-editor/' + rubrica._id + '/quests-order" title="Изменить порядок квестов">
                    <i class="fa fa-refresh"></i>
                </a>
            </button>
        </li>
    </ul>

    <ul class="rubrica__quest-list">

        <li *ngFor="let quest of quests"
            (click)="rubricaClick( rubrica )"
            class="rubrica__quest">

            <a href="{{ '/game-editor/' + rubrica._id + '/' + quest.number }}" class="quest_link">
                <div class="quest_title">
                    <h3 class="h3">
                        {{ quest.name }}
                    </h3>
                </div>
            </a>

        </li>

    </ul>

</div>
