<div *ngIf="rubric"
     class="rubric-page">

    <div class="rubric__header">
        <h1 class="h1">
            {{ rubric.name }}
        </h1>
    </div>

    <ul class="rubric__actions">
        <li class="rubric__action">
            <button class="rubric__action_add-quest">
                <a [routerLink]="[ '/rubrics/' + rubric._id + '/quest-create' ]" title="Создать квест">
                    <i class="fa fa-plus"></i>
                </a>
            </button>
        </li>
        <li class="rubric__action">
            <button class="rubric__action_change-order">
                <a [routerLink]="[ '/rubrics/' + rubric._id + '/quests-order' ]" title="Изменить порядок квестов">
                    <i class="fa fa-refresh"></i>
                </a>
            </button>
        </li>
    </ul>

    <ul class="rubric__quest-list">

        <li *ngFor="let quest of quests"
            class="rubric__quest">

            <a [routerLink]="[ '/rubrics/' + rubric._id + '/' + quest._id ]" class="quest__link">
                <div class="quest__title">
                    <h3 class="h3">
                        {{ quest.name }}
                    </h3>
                </div>
            </a>

        </li>

    </ul>

</div>
